body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgb(236, 233, 230), rgb(255, 255, 255));
    color: rgb(51, 51, 51);
}
p {
    font-size: 1.2em;
    margin: 20px auto;
    max-width: 800px;
    text-align: justify;
    line-height: 1.8;
}


a {
    color: rgb(74, 144, 226);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: rgb(211, 84, 0);
}



h1 {
    font-size: 3em;
    color: rgb(74, 144, 226);
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    font-size: 2em;
    color: rgb(74, 144, 226);
    text-align: center;
    margin: 20px 0;
    text-transform: capitalize;
    border-bottom:solid rgb(74, 144, 226);
    letter-spacing: 2px;
}

    .container {
        max-width: 900px;
        margin: 0 auto;
        padding: 20px;
        background: rgb(255, 255, 255);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin-top: 50px;
    }
